@import "tailwindcss";

:root {
  --background: #f9fbff;
  --foreground: #171717;
  --darkblue: #0858a8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-darkblue: var(--darkblue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
